body{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #02063A 0% 0% no-repeat padding-box;
    opacity: 1;
}
.login-container{
    top: 4%;
    left: 4%;
    right: 4%;
    bottom: 4%;
    width: calc(100% - 8%);
    height: calc(100% - 8%);
    position: fixed;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.box-container{
    top: 7%;
    left: 35%;
    right: 35%;
    bottom: 7%;
    position: absolute;
    width: calc(100% - 70%);
    height: calc(100% - 14%);
    opacity: 1;
}
.avatar{
    vertical-align: middle;
    right: 5%;
    top: 5%;
    width: 50%;
    height: 35%;
    border-radius: 50%;    
}
.box{
    text-align: center;
    margin-top: 3%;
    height: -webkit-fill-available;
}
@media (min-width: 1600px){
.text-box{
    text-align: center;
    width: 30ch !important;
}
}
#login-button{
    width: 137px;
    height: 41px;
    opacity: 1;
    font: normal normal bold 14px/16px Roboto;
    letter-spacing: 1.25px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #02063a;
    border-radius: 33px;
}
@media(max-width: 720px){
    .box-container{
        top: 7%;
        left: 16%;
        right: 39%;
        position: absolute;
        width: calc(100% - 30%);
        height: calc(100% - 14%);
        opacity: 1;
    }
}
@media(max-width: 460px){
    .avatar{
        width: 100%;
    }
}
@media (min-width: 720px) and (max-width: 960px){
    .avatar{
        width: 91% !important;
        width: 45%;
    }
}